<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A.ss02</string>
		<string>A.ss03</string>
		<string>Alpha</string>
		<string>Lambda</string>
		<string>Alphatonos</string>
		<string>lambda</string>
		<string>uni0410</string>
		<string>uni041B</string>
		<string>uni04C5</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni041B.loclBGR</string>
		<string>uni0394</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
	</array>
	<key>@MMK_L_AE</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
		<string>AE.ss02</string>
		<string>AE.ss03</string>
		<string>E.ss03</string>
		<string>Epsilon</string>
		<string>Xi</string>
		<string>Sigma</string>
		<string>Epsilontonos</string>
		<string>Acut</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni04D6</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>B.ss02</string>
		<string>B.ss03</string>
		<string>Beta</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0498</string>
		<string>uni04DE</string>
		<string>uni04E0</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>E.ss02</string>
		<string>uni0421</string>
		<string>uni04AA</string>
		<string>Cacute.ss02</string>
		<string>Ccaron.ss02</string>
		<string>Cdotaccent.ss02</string>
		<string>Cacute.ss03</string>
		<string>Ccaron.ss03</string>
		<string>Cdotaccent.ss03</string>
	</array>
	<key>@MMK_L_C.ss02</key>
	<array>
		<string>C.ss02</string>
		<string>Ccedilla.ss02</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>D.ss02</string>
		<string>Eth.ss02</string>
		<string>Dcaron.ss02</string>
		<string>Dcroat.ss02</string>
		<string>Eth.ss03</string>
		<string>Dcaron.ss03</string>
		<string>Dcroat.ss03</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>Eacute.ss02</string>
		<string>Ecaron.ss02</string>
		<string>Ecircumflex.ss02</string>
		<string>Edieresis.ss02</string>
		<string>Edotaccent.ss02</string>
		<string>Egrave.ss02</string>
		<string>Emacron.ss02</string>
		<string>Eogonek.ss02</string>
		<string>Eacute.ss03</string>
		<string>Ecaron.ss03</string>
		<string>Ecircumflex.ss03</string>
		<string>Edieresis.ss03</string>
		<string>Edotaccent.ss03</string>
		<string>Egrave.ss03</string>
		<string>Emacron.ss03</string>
		<string>Eogonek.ss03</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>Gbreve.ss02</string>
		<string>Gcommaaccent.ss02</string>
		<string>Gdotaccent.ss02</string>
		<string>Gbreve.ss03</string>
		<string>Gcommaaccent.ss03</string>
		<string>Gdotaccent.ss03</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>Hbar.ss02</string>
		<string>Hbar.ss03</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>K.ss02</string>
		<string>K.ss03</string>
		<string>S_R.alt</string>
		<string>Kappa</string>
		<string>uni0136</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni049A</string>
		<string>uni049C</string>
		<string>uni049E</string>
		<string>uni04A0</string>
		<string>uni041A.loclBGR</string>
		<string>Kcommaaccent.ss02</string>
		<string>Kcommaaccent.ss03</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>L.ss02</string>
		<string>L.ss03</string>
		<string>uni013B</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>Nacute.ss02</string>
		<string>Ncaron.ss02</string>
		<string>Ncommaaccent.ss02</string>
		<string>Ntilde.ss02</string>
		<string>Nacute.ss03</string>
		<string>Ncaron.ss03</string>
		<string>Ncommaaccent.ss03</string>
		<string>Ntilde.ss03</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>O.ss02</string>
		<string>Oacute.ss02</string>
		<string>Ocircumflex.ss02</string>
		<string>Odieresis.ss02</string>
		<string>Ograve.ss02</string>
		<string>Ohungarumlaut.ss02</string>
		<string>Omacron.ss02</string>
		<string>Oslash.ss02</string>
		<string>Otilde.ss02</string>
		<string>Q.ss02</string>
		<string>Oacute.ss03</string>
		<string>Ocircumflex.ss03</string>
		<string>Odieresis.ss03</string>
		<string>Ograve.ss03</string>
		<string>Ohungarumlaut.ss03</string>
		<string>Omacron.ss03</string>
		<string>Oslash.ss03</string>
		<string>Otilde.ss03</string>
		<string>Q.ss03</string>
		<string>Theta</string>
		<string>Omicron</string>
		<string>Phi</string>
		<string>Omicrontonos</string>
		<string>Ocut</string>
		<string>uni0417</string>
		<string>uni041E</string>
		<string>uni0424</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni0472</string>
		<string>uni04A8</string>
		<string>uni04D8</string>
		<string>uni04DA</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EA</string>
		<string>uni04EC</string>
	</array>
	<key>@MMK_L_O.ss03</key>
	<array>
		<string>O.ss03</string>
	</array>
	<key>@MMK_L_Omegatonos</key>
	<array>
		<string>Omegatonos</string>
		<string>uni03A9</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
		<string>P.ss02</string>
		<string>P.ss03</string>
		<string>Rho</string>
		<string>uni0420</string>
	</array>
	<key>@MMK_L_Psi</key>
	<array>
		<string>Psi</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>R.ss02</string>
		<string>R.ss03</string>
		<string>uni0156</string>
		<string>Racute.ss02</string>
		<string>Rcaron.ss02</string>
		<string>Rcommaaccent.ss02</string>
		<string>Racute.ss03</string>
		<string>Rcaron.ss03</string>
		<string>Rcommaaccent.ss03</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>uni0405</string>
		<string>Sacute.ss02</string>
		<string>Scaron.ss02</string>
		<string>Scedilla.ss02</string>
		<string>Scommaaccent.ss02</string>
		<string>Sacute.ss03</string>
		<string>Scaron.ss03</string>
		<string>Scedilla.ss03</string>
		<string>Scommaaccent.ss03</string>
	</array>
	<key>@MMK_L_S.ss02</key>
	<array>
		<string>S.ss02</string>
		<string>S.ss03</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>T.ss02</string>
		<string>T.ss03</string>
		<string>Gamma</string>
		<string>Tau</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0422</string>
		<string>uni04AC</string>
		<string>uni04F6</string>
		<string>Tbar.ss02</string>
		<string>Tcaron.ss02</string>
		<string>Tcedilla.ss02</string>
		<string>Tcommaaccent.ss02</string>
		<string>Tbar.ss03</string>
		<string>Tcaron.ss03</string>
		<string>Tcedilla.ss03</string>
		<string>Tcommaaccent.ss03</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>U.ss02</string>
		<string>U.ss03</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.ss02</string>
		<string>W.ss03</string>
	</array>
	<key>@MMK_L_V.ss02</key>
	<array>
		<string>V.ss02</string>
		<string>V.ss03</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
		<string>X.ss02</string>
		<string>X.ss03</string>
		<string>Chi</string>
		<string>chi</string>
		<string>uni0416</string>
		<string>uni0425</string>
		<string>uni0496</string>
		<string>uni04B2</string>
		<string>uni04C1</string>
		<string>uni04DC</string>
		<string>uni04FC</string>
		<string>uni0416.loclBGR</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Y.ss02</string>
		<string>Y.ss03</string>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>Yacute.ss03</string>
		<string>Ycircumflex.ss03</string>
		<string>Ydieresis.ss03</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zeta</string>
		<string>Zacute.ss02</string>
		<string>Zcaron.ss02</string>
		<string>Zdotaccent.ss02</string>
		<string>Zacute.ss03</string>
		<string>Zcaron.ss03</string>
		<string>Zdotaccent.ss03</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>alphatonos</string>
	</array>
	<key>@MMK_L_ae</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>germandbls</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>delta</string>
		<string>omicron</string>
		<string>rho</string>
		<string>phi</string>
		<string>omicrontonos</string>
		<string>at</string>
		<string>uni0123.ss01</string>
		<string>uni0431</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni0437</string>
		<string>uni043E</string>
		<string>uni0440</string>
		<string>uni0444</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni0463</string>
		<string>uni0473</string>
		<string>uni0499</string>
		<string>uni04A7</string>
		<string>uni04A9</string>
		<string>uni04BD</string>
		<string>uni04BF</string>
		<string>uni04D3</string>
		<string>uni04D5</string>
		<string>uni04D7</string>
		<string>uni04D9</string>
		<string>uni04DB</string>
		<string>uni04DF</string>
		<string>uni04E1</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EB</string>
		<string>uni04ED</string>
		<string>uni0437.loclBGR</string>
		<string>uni044E.loclBGR</string>
		<string>uni0431.loclSRB</string>
	</array>
	<key>@MMK_L_alpha</key>
	<array>
		<string>alpha</string>
	</array>
	<key>@MMK_L_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_beta</key>
	<array>
		<string>beta</string>
	</array>
	<key>@MMK_L_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>xi</string>
		<string>uni0441</string>
		<string>uni0454</string>
		<string>uni04AB</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_dcroat</key>
	<array>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_diag-cap</key>
	<array>
		<string>Wacute.ss02</string>
		<string>Wcircumflex.ss02</string>
		<string>Wdieresis.ss02</string>
		<string>Wgrave.ss02</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
	</array>
	<key>@MMK_L_epsilon</key>
	<array>
		<string>epsilon</string>
		<string>epsilontonos</string>
		<string>uni0511</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_four.osf</key>
	<array>
		<string>four.osf</string>
	</array>
	<key>@MMK_L_gamma</key>
	<array>
		<string>gamma</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>eta</string>
		<string>etatonos</string>
		<string>uni0146</string>
		<string>uni045B</string>
		<string>uni04BB</string>
		<string>uni0430.ss01</string>
		<string>alink</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>logicalnot</string>
	</array>
	<key>@MMK_L_i.ss01</key>
	<array>
		<string>i.ss01</string>
		<string>iacute.ss01</string>
		<string>icircumflex.ss01</string>
		<string>idieresis.ss01</string>
		<string>igrave.ss01</string>
		<string>imacron.ss01</string>
		<string>iogonek.ss01</string>
		<string>f_f_i</string>
		<string>fi</string>
		<string>dotlessi.ss01</string>
		<string>i.loclTRK.ss01</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
		<string>j.calt</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni049F</string>
		<string>uni04A1</string>
		<string>uni04B3</string>
		<string>uni04DD</string>
		<string>uni043A.loclBGR</string>
	</array>
	<key>@MMK_L_kappa</key>
	<array>
		<string>kappa</string>
	</array>
	<key>@MMK_L_omega</key>
	<array>
		<string>omega</string>
		<string>omegatonos</string>
	</array>
	<key>@MMK_L_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_L_one.osf</key>
	<array>
		<string>one.osf</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_L_pi</key>
	<array>
		<string>pi</string>
		<string>tau</string>
	</array>
	<key>@MMK_L_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_r.ss01</key>
	<array>
		<string>r.ss01</string>
		<string>racute.ss01</string>
		<string>rcaron.ss01</string>
		<string>uni0157.ss01</string>
	</array>
	<key>@MMK_L_radical</key>
	<array>
		<string>radical</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
		<string>uni0455</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_L_summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_theta</key>
	<array>
		<string>theta</string>
	</array>
	<key>@MMK_L_three.osf</key>
	<array>
		<string>three.osf</string>
	</array>
	<key>@MMK_L_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_L_two.osf</key>
	<array>
		<string>two.osf</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>upsilon</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>@MMK_L_uni00B5</key>
	<array>
		<string>uni00B5</string>
	</array>
	<key>@MMK_L_uni03C2</key>
	<array>
		<string>uni03C2</string>
	</array>
	<key>@MMK_L_uni0408</key>
	<array>
		<string>uni0408</string>
	</array>
	<key>@MMK_L_uni0414</key>
	<array>
		<string>uni0414</string>
		<string>uni0414.loclBGR</string>
	</array>
	<key>@MMK_L_uni0423</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>@MMK_L_uni042C</key>
	<array>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0402</string>
		<string>uni0462</string>
		<string>uni04A6</string>
		<string>uni04C3</string>
	</array>
	<key>@MMK_L_uni0433</key>
	<array>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0442</string>
		<string>uni0493</string>
		<string>uni04A5</string>
		<string>uni04F7</string>
		<string>uni0433.loclBGR</string>
		<string>uni0442.loclBGR</string>
	</array>
	<key>@MMK_L_uni0434</key>
	<array>
		<string>uni0434</string>
		<string>uni0446</string>
		<string>uni0449</string>
		<string>uni04A3</string>
		<string>uni0525</string>
		<string>uni04AD</string>
		<string>uni04B5</string>
		<string>uni04B7</string>
		<string>uni0527</string>
		<string>uni04C6</string>
		<string>uni04CA</string>
		<string>uni04CE</string>
		<string>uni0446.loclBGR</string>
		<string>uni0449.loclBGR</string>
	</array>
	<key>@MMK_L_uni043A</key>
	<array>
		<string>uni043A</string>
	</array>
	<key>@MMK_L_uni043B</key>
	<array>
		<string>uni043B</string>
		<string>uni043B.loclBGR</string>
	</array>
	<key>@MMK_L_uni044C</key>
	<array>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni044C.loclBGR</string>
	</array>
	<key>@MMK_L_uni0457</key>
	<array>
		<string>uni0457</string>
	</array>
	<key>@MMK_L_uni0474</key>
	<array>
		<string>uni0474</string>
	</array>
	<key>@MMK_L_uni0492</key>
	<array>
		<string>uni0492</string>
	</array>
	<key>@MMK_L_uni04AF</key>
	<array>
		<string>uni04AF</string>
	</array>
	<key>@MMK_L_uni04B1</key>
	<array>
		<string>uni04B1</string>
	</array>
	<key>@MMK_L_uni0510</key>
	<array>
		<string>uni0510</string>
	</array>
	<key>@MMK_L_uni051C</key>
	<array>
		<string>uni051C</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>nu</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0475</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
		<string>uni0436</string>
		<string>uni045C</string>
		<string>uni0445</string>
		<string>uni0497</string>
		<string>uni04C2</string>
		<string>uni04FD</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zeta</key>
	<array>
		<string>zeta</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A.ss02</string>
		<string>AE.ss02</string>
		<string>AE.ss03</string>
		<string>R.ss03</string>
		<string>Alpha</string>
		<string>Lambda</string>
		<string>Alphatonos</string>
		<string>lambda</string>
		<string>uni0410</string>
		<string>uni041B</string>
		<string>uni04C5</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni041B.loclBGR</string>
		<string>uni0394</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
	</array>
	<key>@MMK_R_A.ss03</key>
	<array>
		<string>A.ss03</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
		<string>Acut</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>C.ss02</string>
		<string>Ccedilla.ss02</string>
		<string>G.ss02</string>
		<string>O.ss02</string>
		<string>Oacute.ss02</string>
		<string>Ocircumflex.ss02</string>
		<string>Odieresis.ss02</string>
		<string>Ograve.ss02</string>
		<string>Ohungarumlaut.ss02</string>
		<string>Omacron.ss02</string>
		<string>Oslash.ss02</string>
		<string>Otilde.ss02</string>
		<string>Q.ss02</string>
		<string>C.ss03</string>
		<string>Ccedilla.ss03</string>
		<string>G.ss03</string>
		<string>Oacute.ss03</string>
		<string>Ocircumflex.ss03</string>
		<string>Odieresis.ss03</string>
		<string>Ograve.ss03</string>
		<string>Ohungarumlaut.ss03</string>
		<string>Omacron.ss03</string>
		<string>Oslash.ss03</string>
		<string>Otilde.ss03</string>
		<string>Q.ss03</string>
		<string>Theta</string>
		<string>Omicron</string>
		<string>Phi</string>
		<string>Omicrontonos</string>
		<string>Ocut</string>
		<string>uni0122</string>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0424</string>
		<string>uni0404</string>
		<string>uni0472</string>
		<string>uni04A8</string>
		<string>uni04AA</string>
		<string>uni04D8</string>
		<string>uni04DA</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EA</string>
	</array>
	<key>@MMK_R_E.ss02</key>
	<array>
		<string>E.ss02</string>
		<string>F.ss02</string>
		<string>E.ss03</string>
		<string>H.ss03</string>
	</array>
	<key>@MMK_R_Gamma</key>
	<array>
		<string>Gamma</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbar.ss02</string>
		<string>Hbar.ss03</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>Nacute.ss02</string>
		<string>Ncaron.ss02</string>
		<string>Ncommaaccent.ss02</string>
		<string>Ntilde.ss02</string>
		<string>Nacute.ss03</string>
		<string>Ncaron.ss03</string>
		<string>Ncommaaccent.ss03</string>
		<string>Ntilde.ss03</string>
	</array>
	<key>@MMK_R_O.ss03</key>
	<array>
		<string>O.ss03</string>
	</array>
	<key>@MMK_R_Omegatonos</key>
	<array>
		<string>Omegatonos</string>
		<string>uni03A9</string>
	</array>
	<key>@MMK_R_Psi</key>
	<array>
		<string>Psi</string>
	</array>
	<key>@MMK_R_R</key>
	<array>
		<string>Racute.ss02</string>
		<string>Rcaron.ss02</string>
		<string>Rcommaaccent.ss02</string>
		<string>Racute.ss03</string>
		<string>Rcaron.ss03</string>
		<string>Rcommaaccent.ss03</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>uni0405</string>
		<string>Sacute.ss02</string>
		<string>Scaron.ss02</string>
		<string>Scedilla.ss02</string>
		<string>Scommaaccent.ss02</string>
		<string>Sacute.ss03</string>
		<string>Scaron.ss03</string>
		<string>Scedilla.ss03</string>
		<string>Scommaaccent.ss03</string>
	</array>
	<key>@MMK_R_S.ss02</key>
	<array>
		<string>S.ss02</string>
		<string>S.ss03</string>
		<string>S_R.alt</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>T.ss02</string>
		<string>T.ss03</string>
		<string>Tau</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>uni0422</string>
		<string>uni04AC</string>
		<string>Tbar.ss02</string>
		<string>Tcaron.ss02</string>
		<string>Tcedilla.ss02</string>
		<string>Tcommaaccent.ss02</string>
		<string>Tbar.ss03</string>
		<string>Tcaron.ss03</string>
		<string>Tcedilla.ss03</string>
		<string>Tcommaaccent.ss03</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>U.ss02</string>
		<string>U.ss03</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.ss02</string>
		<string>W.ss03</string>
		<string>uni0474</string>
	</array>
	<key>@MMK_R_V.ss02</key>
	<array>
		<string>V.ss02</string>
		<string>V.ss03</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
		<string>X.ss02</string>
		<string>X.ss03</string>
		<string>Sigma</string>
		<string>Chi</string>
		<string>chi</string>
		<string>uni0416</string>
		<string>uni0425</string>
		<string>uni0496</string>
		<string>uni04B2</string>
		<string>uni04C1</string>
		<string>uni04DC</string>
		<string>uni04FC</string>
		<string>uni0416.loclBGR</string>
	</array>
	<key>@MMK_R_Xi</key>
	<array>
		<string>Xi</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Y.ss02</string>
		<string>Y.ss03</string>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>Yacute.ss03</string>
		<string>Ycircumflex.ss03</string>
		<string>Ydieresis.ss03</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Z.ss02</string>
		<string>Z.ss03</string>
		<string>Zeta</string>
		<string>Zacute.ss02</string>
		<string>Zcaron.ss02</string>
		<string>Zdotaccent.ss02</string>
		<string>Zacute.ss03</string>
		<string>Zcaron.ss03</string>
		<string>Zdotaccent.ss03</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>alpha</string>
		<string>delta</string>
		<string>xi</string>
		<string>omicron</string>
		<string>sigma</string>
		<string>phi</string>
		<string>omicrontonos</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>at</string>
		<string>uni0123</string>
		<string>uni0123.ss01</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0444</string>
		<string>uni0454</string>
		<string>uni0473</string>
		<string>uni04A9</string>
		<string>uni04AB</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D5</string>
		<string>uni04D7</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EB</string>
		<string>uni0431.loclSRB</string>
		<string>uni0430.ss01</string>
		<string>uni03C2</string>
		<string>alink</string>
	</array>
	<key>@MMK_R_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_diag-cap</key>
	<array>
		<string>Wacute.ss02</string>
		<string>Wcircumflex.ss02</string>
		<string>Wdieresis.ss02</string>
		<string>Wgrave.ss02</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
	</array>
	<key>@MMK_R_epsilon</key>
	<array>
		<string>epsilon</string>
		<string>uni0437</string>
		<string>uni044D</string>
		<string>uni0499</string>
		<string>uni04DF</string>
		<string>uni04ED</string>
		<string>uni0437.loclBGR</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_R_gamma</key>
	<array>
		<string>gamma</string>
	</array>
	<key>@MMK_R_germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>logicalnot</string>
	</array>
	<key>@MMK_R_i.ss01</key>
	<array>
		<string>i.ss01</string>
		<string>iacute.ss01</string>
		<string>icircumflex.ss01</string>
		<string>idieresis.ss01</string>
		<string>igrave.ss01</string>
		<string>imacron.ss01</string>
		<string>iogonek.ss01</string>
		<string>r.ss01</string>
		<string>racute.ss01</string>
		<string>rcaron.ss01</string>
		<string>dotlessi.ss01</string>
		<string>i.loclTRK.ss01</string>
		<string>uni0157.ss01</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_j.calt</key>
	<array>
		<string>j.calt</string>
	</array>
	<key>@MMK_R_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
	</array>
	<key>@MMK_R_omega</key>
	<array>
		<string>omega</string>
		<string>omegatonos</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_R_pi</key>
	<array>
		<string>pi</string>
		<string>tau</string>
	</array>
	<key>@MMK_R_product</key>
	<array>
		<string>product</string>
	</array>
	<key>@MMK_R_psi</key>
	<array>
		<string>psi</string>
	</array>
	<key>@MMK_R_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_R_radical</key>
	<array>
		<string>radical</string>
	</array>
	<key>@MMK_R_rho</key>
	<array>
		<string>rho</string>
	</array>
	<key>@MMK_R_ronde-cap</key>
	<array>
		<string>Cacute.ss02</string>
		<string>Ccaron.ss02</string>
		<string>Cdotaccent.ss02</string>
		<string>Gbreve.ss02</string>
		<string>Gcommaaccent.ss02</string>
		<string>Gdotaccent.ss02</string>
		<string>Cacute.ss03</string>
		<string>Ccaron.ss03</string>
		<string>Cdotaccent.ss03</string>
		<string>Gbreve.ss03</string>
		<string>Gcommaaccent.ss03</string>
		<string>Gdotaccent.ss03</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
		<string>uni0455</string>
	</array>
	<key>@MMK_R_semicolon</key>
	<array>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_theta</key>
	<array>
		<string>theta</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_R_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>upsilon</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>@MMK_R_uni03BC</key>
	<array>
		<string>uni03BC</string>
	</array>
	<key>@MMK_R_uni0408</key>
	<array>
		<string>uni0408</string>
	</array>
	<key>@MMK_R_uni0409</key>
	<array>
		<string>uni0409</string>
	</array>
	<key>@MMK_R_uni0414</key>
	<array>
		<string>uni0414</string>
		<string>uni0414.loclBGR</string>
	</array>
	<key>@MMK_R_uni0417</key>
	<array>
		<string>uni0417</string>
		<string>uni04DE</string>
		<string>uni04E0</string>
		<string>uni04EC</string>
	</array>
	<key>@MMK_R_uni0423</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>@MMK_R_uni0427</key>
	<array>
		<string>uni0427</string>
		<string>uni04CB</string>
		<string>uni04F4</string>
	</array>
	<key>@MMK_R_uni042A</key>
	<array>
		<string>uni042A</string>
		<string>uni040B</string>
		<string>uni0402</string>
		<string>uni04A0</string>
		<string>uni04A4</string>
		<string>uni04B4</string>
	</array>
	<key>@MMK_R_uni042D</key>
	<array>
		<string>uni042D</string>
	</array>
	<key>@MMK_R_uni042F</key>
	<array>
		<string>uni042F</string>
	</array>
	<key>@MMK_R_uni0434</key>
	<array>
		<string>uni0434</string>
	</array>
	<key>@MMK_R_uni043B</key>
	<array>
		<string>uni043B</string>
		<string>uni0459</string>
		<string>uni0458</string>
		<string>uni043B.loclBGR</string>
	</array>
	<key>@MMK_R_uni0442</key>
	<array>
		<string>uni0442</string>
		<string>uni04AD</string>
		<string>uni0442.loclBGR</string>
	</array>
	<key>@MMK_R_uni0447</key>
	<array>
		<string>uni0447</string>
		<string>uni04B7</string>
		<string>uni04B9</string>
		<string>uni04CC</string>
		<string>uni04F5</string>
		<string>uni0447.loclBGR</string>
	</array>
	<key>@MMK_R_uni044A</key>
	<array>
		<string>uni044A</string>
	</array>
	<key>@MMK_R_uni044F</key>
	<array>
		<string>uni044F</string>
	</array>
	<key>@MMK_R_uni045B</key>
	<array>
		<string>uni045B</string>
		<string>uni049F</string>
		<string>uni04B5</string>
	</array>
	<key>@MMK_R_uni0492</key>
	<array>
		<string>uni0492</string>
	</array>
	<key>@MMK_R_uni0493</key>
	<array>
		<string>uni0493</string>
	</array>
	<key>@MMK_R_uni049C</key>
	<array>
		<string>uni049C</string>
	</array>
	<key>@MMK_R_uni049E</key>
	<array>
		<string>uni049E</string>
	</array>
	<key>@MMK_R_uni04A1</key>
	<array>
		<string>uni04A1</string>
	</array>
	<key>@MMK_R_uni04AF</key>
	<array>
		<string>uni04AF</string>
	</array>
	<key>@MMK_R_uni04B1</key>
	<array>
		<string>uni04B1</string>
	</array>
	<key>@MMK_R_uni04B6</key>
	<array>
		<string>uni04B6</string>
	</array>
	<key>@MMK_R_uni04BC</key>
	<array>
		<string>uni04BC</string>
		<string>uni04BE</string>
	</array>
	<key>@MMK_R_uni04BD</key>
	<array>
		<string>uni04BD</string>
	</array>
	<key>@MMK_R_uni0510</key>
	<array>
		<string>uni0510</string>
	</array>
	<key>@MMK_R_uni051C</key>
	<array>
		<string>uni051C</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>nu</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0475</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
		<string>uni0436</string>
		<string>uni0445</string>
		<string>uni0497</string>
		<string>uni04B3</string>
		<string>uni04C2</string>
		<string>uni04DD</string>
		<string>uni04FD</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zeta</key>
	<array>
		<string>zeta</string>
	</array>
</dict>
</plist>
