<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A.ss02</string>
		<string>A.ss03</string>
		<string>Alpha</string>
		<string>Lambda</string>
		<string>Alphatonos</string>
		<string>lambda</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
		<string>A-cy</string>
		<string>El-cy</string>
		<string>Eltail-cy</string>
		<string>Abreve-cy</string>
		<string>Adieresis-cy</string>
		<string>El-cy.loclBGR</string>
		<string>Delta</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>B.ss02</string>
		<string>B.ss03</string>
		<string>Beta</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Zedescender-cy</string>
		<string>Zedieresis-cy</string>
		<string>Dzeabkhasian-cy</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>E.ss02</string>
		<string>Cacute.ss02</string>
		<string>Ccaron.ss02</string>
		<string>Cdotaccent.ss02</string>
		<string>Cacute.ss03</string>
		<string>Ccaron.ss03</string>
		<string>Cdotaccent.ss03</string>
		<string>Es-cy</string>
		<string>Esdescender-cy</string>
	</array>
	<key>@MMK_L_C.ss01</key>
	<array>
		<string>C.ss02</string>
		<string>Ccedilla.ss02</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>D.ss02</string>
		<string>Eth.ss02</string>
		<string>Dcaron.ss02</string>
		<string>Dcroat.ss02</string>
		<string>Eth.ss03</string>
		<string>Dcaron.ss03</string>
		<string>Dcroat.ss03</string>
	</array>
	<key>@MMK_L_De-cy</key>
	<array>
		<string>De-cy</string>
		<string>De-cy.loclBGR</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
		<string>AE.ss02</string>
		<string>AE.ss03</string>
		<string>E.ss03</string>
		<string>Epsilon</string>
		<string>Xi</string>
		<string>Sigma</string>
		<string>Epsilontonos</string>
		<string>Acut</string>
		<string>Eacute.ss02</string>
		<string>Ecaron.ss02</string>
		<string>Ecircumflex.ss02</string>
		<string>Edieresis.ss02</string>
		<string>Edotaccent.ss02</string>
		<string>Egrave.ss02</string>
		<string>Emacron.ss02</string>
		<string>Eogonek.ss02</string>
		<string>Eacute.ss03</string>
		<string>Ecaron.ss03</string>
		<string>Ecircumflex.ss03</string>
		<string>Edieresis.ss03</string>
		<string>Edotaccent.ss03</string>
		<string>Egrave.ss03</string>
		<string>Emacron.ss03</string>
		<string>Eogonek.ss03</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Iebreve-cy</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>G.ss02</string>
		<string>Gcommaaccent</string>
		<string>Gbreve.ss02</string>
		<string>Gcommaaccent.ss02</string>
		<string>Gdotaccent.ss02</string>
		<string>Gbreve.ss03</string>
		<string>Gcommaaccent.ss03</string>
		<string>Gdotaccent.ss03</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbar.ss02</string>
		<string>Hbar.ss03</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>@MMK_L_I.ss01</key>
	<array>
		<string>i.ss01</string>
		<string>iacute.ss01</string>
		<string>icircumflex.ss01</string>
		<string>idieresis.ss01</string>
		<string>igrave.ss01</string>
		<string>imacron.ss01</string>
		<string>iogonek.ss01</string>
		<string>f_f_i</string>
		<string>fi</string>
		<string>idotless.ss01</string>
		<string>idotaccent.ss01</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>K.ss02</string>
		<string>K.ss03</string>
		<string>S_R.alt</string>
		<string>Kappa</string>
		<string>Kcommaaccent</string>
		<string>Kcommaaccent.ss02</string>
		<string>Kcommaaccent.ss03</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>Kadescender-cy</string>
		<string>Kaverticalstroke-cy</string>
		<string>Kastroke-cy</string>
		<string>Kabashkir-cy</string>
		<string>Ka-cy.loclBGR</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>L.ss02</string>
		<string>L.ss03</string>
		<string>Lcommaaccent</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
		<string>M.ss02</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>N.ss02</string>
		<string>N.ss03</string>
		<string>Ncommaaccent</string>
		<string>Nacute.ss02</string>
		<string>Ncaron.ss02</string>
		<string>Ncommaaccent.ss02</string>
		<string>Ntilde.ss02</string>
		<string>Nacute.ss03</string>
		<string>Ncaron.ss03</string>
		<string>Ncommaaccent.ss03</string>
		<string>Ntilde.ss03</string>
	</array>
	<key>@MMK_L_Omega</key>
	<array>
		<string>Omegatonos</string>
		<string>Omega</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
		<string>P.ss02</string>
		<string>P.ss03</string>
		<string>Rho</string>
		<string>Er-cy</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>R.ss02</string>
		<string>R.ss03</string>
		<string>Rcommaaccent</string>
		<string>Racute.ss02</string>
		<string>Rcaron.ss02</string>
		<string>Rcommaaccent.ss02</string>
		<string>Racute.ss03</string>
		<string>Rcaron.ss03</string>
		<string>Rcommaaccent.ss03</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Sacute.ss02</string>
		<string>Scaron.ss02</string>
		<string>Scedilla.ss02</string>
		<string>Scommaaccent.ss02</string>
		<string>Sacute.ss03</string>
		<string>Scaron.ss03</string>
		<string>Scedilla.ss03</string>
		<string>Scommaaccent.ss03</string>
		<string>Dze-cy</string>
	</array>
	<key>@MMK_L_S.ss01</key>
	<array>
		<string>S.ss02</string>
		<string>S.ss03</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>T.ss02</string>
		<string>T.ss03</string>
		<string>Gamma</string>
		<string>Tau</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tbar.ss02</string>
		<string>Tcaron.ss02</string>
		<string>Tcedilla.ss02</string>
		<string>Tcommaaccent.ss02</string>
		<string>Tbar.ss03</string>
		<string>Tcaron.ss03</string>
		<string>Tcedilla.ss03</string>
		<string>Tcommaaccent.ss03</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>Te-cy</string>
		<string>Tedescender-cy</string>
		<string>Gedescender-cy</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>U.ss02</string>
		<string>U.ss03</string>
	</array>
	<key>@MMK_L_U-cy</key>
	<array>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Umacron-cy</string>
		<string>Udieresis-cy</string>
		<string>Uhungarumlaut-cy</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
		<string>X.ss02</string>
		<string>X.ss03</string>
		<string>Chi</string>
		<string>chi</string>
		<string>Zhe-cy</string>
		<string>Ha-cy</string>
		<string>Zhedescender-cy</string>
		<string>Hadescender-cy</string>
		<string>Zhebreve-cy</string>
		<string>Zhedieresis-cy</string>
		<string>Hahook-cy</string>
		<string>Zhe-cy.loclBGR</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Y.ss02</string>
		<string>Y.ss03</string>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>Yacute.ss03</string>
		<string>Ycircumflex.ss03</string>
		<string>Ydieresis.ss03</string>
		<string>Ustraight-cy</string>
		<string>Ustraightstroke-cy</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zeta</string>
		<string>Zacute.ss02</string>
		<string>Zcaron.ss02</string>
		<string>Zdotaccent.ss02</string>
		<string>Zacute.ss03</string>
		<string>Zcaron.ss03</string>
		<string>Zdotaccent.ss03</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>alphatonos</string>
	</array>
	<key>@MMK_L_alpha</key>
	<array>
		<string>alpha</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>xi</string>
		<string>es-cy</string>
		<string>e-cy</string>
		<string>esdescender-cy</string>
	</array>
	<key>@MMK_L_caron-t</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_coma</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_cy-term</key>
	<array>
		<string>de-cy</string>
		<string>tse-cy</string>
		<string>shcha-cy</string>
		<string>endescender-cy</string>
		<string>pedescender-cy</string>
		<string>tedescender-cy</string>
		<string>tetse-cy</string>
		<string>chedescender-cy</string>
		<string>shhadescender-cy</string>
		<string>eltail-cy</string>
		<string>entail-cy</string>
		<string>emtail-cy</string>
		<string>tse-cy.loclBGR</string>
		<string>shcha-cy.loclBGR</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
	</array>
	<key>@MMK_L_diag-cap</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.ss02</string>
		<string>W.ss03</string>
		<string>Wacute.ss02</string>
		<string>Wcircumflex.ss02</string>
		<string>Wdieresis.ss02</string>
		<string>Wgrave.ss02</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
	</array>
	<key>@MMK_L_diag-cap-2</key>
	<array>
		<string>V.ss02</string>
		<string>V.ss03</string>
	</array>
	<key>@MMK_L_diag-min</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>nu</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>izhitsa-cy</string>
		<string>umacron-cy</string>
		<string>udieresis-cy</string>
		<string>uhungarumlaut-cy</string>
	</array>
	<key>@MMK_L_el-cy</key>
	<array>
		<string>el-cy</string>
		<string>el-cy.loclBGR</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_german</key>
	<array>
		<string>beta</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>idotaccent</string>
		<string>i-cy</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
		<string>j.calt</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kadescender-cy</string>
		<string>kaverticalstroke-cy</string>
		<string>kastroke-cy</string>
		<string>kabashkir-cy</string>
		<string>hadescender-cy</string>
		<string>zhedieresis-cy</string>
		<string>ka-cy.loclBGR</string>
	</array>
	<key>@MMK_L_k-grec</key>
	<array>
		<string>kappa</string>
	</array>
	<key>@MMK_L_ka-cy</key>
	<array>
		<string>ka-cy</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>f_f_l</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>eta</string>
		<string>etatonos</string>
		<string>ncommaaccent</string>
		<string>tshe-cy</string>
		<string>shha-cy</string>
		<string>a-cy.ss01</string>
		<string>a-link</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_r.ss01</key>
	<array>
		<string>r.ss01</string>
		<string>racute.ss01</string>
		<string>rcaron.ss01</string>
		<string>rcommaaccent.ss01</string>
	</array>
	<key>@MMK_L_reverse</key>
	<array>
		<string>epsilon</string>
		<string>epsilontonos</string>
		<string>reversedze-cy</string>
	</array>
	<key>@MMK_L_ronde-cap</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>O.ss02</string>
		<string>Oacute.ss02</string>
		<string>Ocircumflex.ss02</string>
		<string>Odieresis.ss02</string>
		<string>Ograve.ss02</string>
		<string>Ohungarumlaut.ss02</string>
		<string>Omacron.ss02</string>
		<string>Oslash.ss02</string>
		<string>Otilde.ss02</string>
		<string>Q.ss02</string>
		<string>Oacute.ss03</string>
		<string>Ocircumflex.ss03</string>
		<string>Odieresis.ss03</string>
		<string>Ograve.ss03</string>
		<string>Ohungarumlaut.ss03</string>
		<string>Omacron.ss03</string>
		<string>Oslash.ss03</string>
		<string>Otilde.ss03</string>
		<string>Q.ss03</string>
		<string>Theta</string>
		<string>Omicron</string>
		<string>Phi</string>
		<string>Omicrontonos</string>
		<string>Ocut</string>
		<string>Ze-cy</string>
		<string>O-cy</string>
		<string>Ef-cy</string>
		<string>Ereversed-cy</string>
		<string>Iu-cy</string>
		<string>Fita-cy</string>
		<string>Haabkhasian-cy</string>
		<string>Schwa-cy</string>
		<string>Schwadieresis-cy</string>
		<string>Odieresis-cy</string>
		<string>Obarred-cy</string>
		<string>Obarreddieresis-cy</string>
		<string>Edieresis-cy</string>
	</array>
	<key>@MMK_L_ronde-cap-alt</key>
	<array>
		<string>O.ss03</string>
	</array>
	<key>@MMK_L_ronde-cap-bas</key>
	<array>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Dje-cy</string>
		<string>Yat-cy</string>
		<string>Pemiddlehook-cy</string>
		<string>Kahook-cy</string>
	</array>
	<key>@MMK_L_ronde-min</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>germandbls</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>delta</string>
		<string>omicron</string>
		<string>rho</string>
		<string>phi</string>
		<string>omicrontonos</string>
		<string>at</string>
		<string>gcommaaccent.ss01</string>
		<string>be-cy</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>ze-cy</string>
		<string>o-cy</string>
		<string>er-cy</string>
		<string>ef-cy</string>
		<string>ereversed-cy</string>
		<string>iu-cy</string>
		<string>yat-cy</string>
		<string>fita-cy</string>
		<string>zedescender-cy</string>
		<string>pemiddlehook-cy</string>
		<string>haabkhasian-cy</string>
		<string>cheabkhasian-cy</string>
		<string>chedescenderabkhasian-cy</string>
		<string>adieresis-cy</string>
		<string>aie-cy</string>
		<string>iebreve-cy</string>
		<string>schwa-cy</string>
		<string>schwadieresis-cy</string>
		<string>zedieresis-cy</string>
		<string>dzeabkhasian-cy</string>
		<string>odieresis-cy</string>
		<string>obarred-cy</string>
		<string>obarreddieresis-cy</string>
		<string>edieresis-cy</string>
		<string>ze-cy.loclBGR</string>
		<string>iu-cy.loclBGR</string>
		<string>be-cy.loclSRB</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>s.002</string>
		<string>dze-cy</string>
	</array>
	<key>@MMK_L_sigma</key>
	<array>
		<string>sigma</string>
	</array>
	<key>@MMK_L_sigmafinal</key>
	<array>
		<string>sigmafinal</string>
	</array>
	<key>@MMK_L_soft-cy</key>
	<array>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>softsign-cy.loclBGR</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_tau</key>
	<array>
		<string>pi</string>
		<string>tau</string>
	</array>
	<key>@MMK_L_te-cy</key>
	<array>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>te-cy</string>
		<string>ghestroke-cy</string>
		<string>enghe-cy</string>
		<string>gedescender-cy</string>
		<string>ge-cy.loclBGR</string>
		<string>te-cy.loclBGR</string>
	</array>
	<key>@MMK_L_tiret</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>logicalnot</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>upsilon</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>@MMK_L_w-greek</key>
	<array>
		<string>omega</string>
		<string>omegatonos</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
		<string>zhe-cy</string>
		<string>kje-cy</string>
		<string>ha-cy</string>
		<string>zhedescender-cy</string>
		<string>zhebreve-cy</string>
		<string>hahook-cy</string>
	</array>
	<key>@MMK_L_y-greek</key>
	<array>
		<string>gamma</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A.ss02</string>
		<string>AE.ss02</string>
		<string>AE.ss03</string>
		<string>R.ss03</string>
		<string>Alpha</string>
		<string>Lambda</string>
		<string>Alphatonos</string>
		<string>lambda</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
		<string>A-cy</string>
		<string>El-cy</string>
		<string>Eltail-cy</string>
		<string>Abreve-cy</string>
		<string>Adieresis-cy</string>
		<string>El-cy.loclBGR</string>
		<string>Delta</string>
	</array>
	<key>@MMK_R_A-E</key>
	<array>
		<string>AE</string>
		<string>Acut</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>Aie-cy</string>
	</array>
	<key>@MMK_R_Cheabakhasian</key>
	<array>
		<string>Cheabkhasian-cy</string>
		<string>Chedescenderabkhasian-cy</string>
	</array>
	<key>@MMK_R_De-cy</key>
	<array>
		<string>De-cy</string>
		<string>De-cy.loclBGR</string>
	</array>
	<key>@MMK_R_E-s2</key>
	<array>
		<string>E.ss02</string>
		<string>F.ss02</string>
		<string>E.ss03</string>
		<string>H.ss03</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbar.ss02</string>
		<string>Hbar.ss03</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
		<string>M.ss02</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>N.ss03</string>
		<string>Ncommaaccent</string>
		<string>Nacute.ss02</string>
		<string>Ncaron.ss02</string>
		<string>Ncommaaccent.ss02</string>
		<string>Ntilde.ss02</string>
		<string>Nacute.ss03</string>
		<string>Ncaron.ss03</string>
		<string>Ncommaaccent.ss03</string>
		<string>Ntilde.ss03</string>
	</array>
	<key>@MMK_R_Omega</key>
	<array>
		<string>Omegatonos</string>
		<string>Omega</string>
	</array>
	<key>@MMK_R_P</key>
	<array>
		<string>P</string>
		<string>P.ss02</string>
		<string>P.ss03</string>
		<string>Rho</string>
		<string>Er-cy</string>
	</array>
	<key>@MMK_R_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>R.ss02</string>
		<string>Rcommaaccent</string>
		<string>Racute.ss02</string>
		<string>Rcaron.ss02</string>
		<string>Rcommaaccent.ss02</string>
		<string>Racute.ss03</string>
		<string>Rcaron.ss03</string>
		<string>Rcommaaccent.ss03</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Sacute.ss02</string>
		<string>Scaron.ss02</string>
		<string>Scedilla.ss02</string>
		<string>Scommaaccent.ss02</string>
		<string>Sacute.ss03</string>
		<string>Scaron.ss03</string>
		<string>Scedilla.ss03</string>
		<string>Scommaaccent.ss03</string>
		<string>Dze-cy</string>
	</array>
	<key>@MMK_R_S.ss01</key>
	<array>
		<string>S.ss02</string>
		<string>S.ss03</string>
		<string>S_R.alt</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>T.ss02</string>
		<string>T.ss03</string>
		<string>Tau</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tbar.ss02</string>
		<string>Tcaron.ss02</string>
		<string>Tcedilla.ss02</string>
		<string>Tcommaaccent.ss02</string>
		<string>Tbar.ss03</string>
		<string>Tcaron.ss03</string>
		<string>Tcedilla.ss03</string>
		<string>Tcommaaccent.ss03</string>
		<string>Te-cy</string>
		<string>Tedescender-cy</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>U.ss02</string>
		<string>U.ss03</string>
	</array>
	<key>@MMK_R_U-cy</key>
	<array>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Umacron-cy</string>
		<string>Udieresis-cy</string>
		<string>Uhungarumlaut-cy</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
		<string>X.ss02</string>
		<string>X.ss03</string>
		<string>Sigma</string>
		<string>Chi</string>
		<string>chi</string>
		<string>Zhe-cy</string>
		<string>Ha-cy</string>
		<string>Zhedescender-cy</string>
		<string>Hadescender-cy</string>
		<string>Zhebreve-cy</string>
		<string>Zhedieresis-cy</string>
		<string>Hahook-cy</string>
		<string>Zhe-cy.loclBGR</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Y.ss02</string>
		<string>Y.ss03</string>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>Yacute.ss03</string>
		<string>Ycircumflex.ss03</string>
		<string>Ydieresis.ss03</string>
		<string>Ustraight-cy</string>
		<string>Ustraightstroke-cy</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Z.ss02</string>
		<string>Z.ss03</string>
		<string>Zeta</string>
		<string>Zacute.ss02</string>
		<string>Zcaron.ss02</string>
		<string>Zdotaccent.ss02</string>
		<string>Zacute.ss03</string>
		<string>Zcaron.ss03</string>
		<string>Zdotaccent.ss03</string>
	</array>
	<key>@MMK_R_Ze-cy</key>
	<array>
		<string>Ze-cy</string>
		<string>Zedieresis-cy</string>
		<string>Dzeabkhasian-cy</string>
		<string>Edieresis-cy</string>
	</array>
	<key>@MMK_R_che-cy</key>
	<array>
		<string>che-cy</string>
		<string>chedescender-cy</string>
		<string>cheverticalstroke-cy</string>
		<string>chekhakassian-cy</string>
		<string>chedieresis-cy</string>
		<string>che-cy.loclBGR</string>
	</array>
	<key>@MMK_R_cheabkhasian</key>
	<array>
		<string>cheabkhasian-cy</string>
	</array>
	<key>@MMK_R_coma</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_cy-haut</key>
	<array>
		<string>tshe-cy</string>
		<string>kastroke-cy</string>
		<string>tetse-cy</string>
	</array>
	<key>@MMK_R_cy-up</key>
	<array>
		<string>Hardsign-cy</string>
		<string>Tshe-cy</string>
		<string>Dje-cy</string>
		<string>Kabashkir-cy</string>
		<string>Enghe-cy</string>
		<string>Tetse-cy</string>
	</array>
	<key>@MMK_R_diag-cap</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.ss02</string>
		<string>W.ss03</string>
		<string>Wacute.ss02</string>
		<string>Wcircumflex.ss02</string>
		<string>Wdieresis.ss02</string>
		<string>Wgrave.ss02</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
		<string>Izhitsa-cy</string>
	</array>
	<key>@MMK_R_diag-cap-2</key>
	<array>
		<string>V.ss02</string>
		<string>V.ss03</string>
	</array>
	<key>@MMK_R_diag-min</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>nu</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>izhitsa-cy</string>
		<string>umacron-cy</string>
		<string>udieresis-cy</string>
		<string>uhungarumlaut-cy</string>
	</array>
	<key>@MMK_R_dje-cy</key>
	<array>
		<string>dje-cy</string>
	</array>
	<key>@MMK_R_el-cy</key>
	<array>
		<string>el-cy</string>
		<string>lje-cy</string>
		<string>je-cy</string>
		<string>el-cy.loclBGR</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>idotaccent</string>
		<string>i-cy</string>
	</array>
	<key>@MMK_R_i.ss01</key>
	<array>
		<string>i.ss01</string>
		<string>iacute.ss01</string>
		<string>icircumflex.ss01</string>
		<string>idieresis.ss01</string>
		<string>igrave.ss01</string>
		<string>imacron.ss01</string>
		<string>iogonek.ss01</string>
		<string>r.ss01</string>
		<string>racute.ss01</string>
		<string>rcaron.ss01</string>
		<string>idotless.ss01</string>
		<string>idotaccent.ss01</string>
		<string>rcommaaccent.ss01</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_mi-haute</key>
	<array>
		<string>Che-cy</string>
		<string>Chekhakassian-cy</string>
		<string>Chedieresis-cy</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>eng</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_R_reverse</key>
	<array>
		<string>epsilon</string>
		<string>ze-cy</string>
		<string>ereversed-cy</string>
		<string>zedescender-cy</string>
		<string>zedieresis-cy</string>
		<string>edieresis-cy</string>
		<string>ze-cy.loclBGR</string>
	</array>
	<key>@MMK_R_ronde-cap</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>C.ss02</string>
		<string>Ccedilla.ss02</string>
		<string>G.ss02</string>
		<string>O.ss02</string>
		<string>Oacute.ss02</string>
		<string>Ocircumflex.ss02</string>
		<string>Odieresis.ss02</string>
		<string>Ograve.ss02</string>
		<string>Ohungarumlaut.ss02</string>
		<string>Omacron.ss02</string>
		<string>Oslash.ss02</string>
		<string>Otilde.ss02</string>
		<string>Q.ss02</string>
		<string>C.ss03</string>
		<string>Ccedilla.ss03</string>
		<string>G.ss03</string>
		<string>Oacute.ss03</string>
		<string>Ocircumflex.ss03</string>
		<string>Odieresis.ss03</string>
		<string>Ograve.ss03</string>
		<string>Ohungarumlaut.ss03</string>
		<string>Omacron.ss03</string>
		<string>Oslash.ss03</string>
		<string>Otilde.ss03</string>
		<string>Q.ss03</string>
		<string>Theta</string>
		<string>Omicron</string>
		<string>Phi</string>
		<string>Omicrontonos</string>
		<string>Ocut</string>
		<string>Gcommaaccent</string>
		<string>Cacute.ss02</string>
		<string>Ccaron.ss02</string>
		<string>Cdotaccent.ss02</string>
		<string>Gbreve.ss02</string>
		<string>Gcommaaccent.ss02</string>
		<string>Gdotaccent.ss02</string>
		<string>Cacute.ss03</string>
		<string>Ccaron.ss03</string>
		<string>Cdotaccent.ss03</string>
		<string>Gbreve.ss03</string>
		<string>Gcommaaccent.ss03</string>
		<string>Gdotaccent.ss03</string>
		<string>O-cy</string>
		<string>Es-cy</string>
		<string>Ef-cy</string>
		<string>E-cy</string>
		<string>Fita-cy</string>
		<string>Haabkhasian-cy</string>
		<string>Esdescender-cy</string>
		<string>Schwa-cy</string>
		<string>Schwadieresis-cy</string>
		<string>Odieresis-cy</string>
		<string>Obarred-cy</string>
		<string>Obarreddieresis-cy</string>
	</array>
	<key>@MMK_R_ronde-cap-alt</key>
	<array>
		<string>O.ss03</string>
	</array>
	<key>@MMK_R_ronde-min</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>alpha</string>
		<string>delta</string>
		<string>xi</string>
		<string>omicron</string>
		<string>sigma</string>
		<string>phi</string>
		<string>omicrontonos</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>at</string>
		<string>gcommaaccent</string>
		<string>gcommaaccent.ss01</string>
		<string>a-cy</string>
		<string>be-cy</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>o-cy</string>
		<string>es-cy</string>
		<string>ef-cy</string>
		<string>e-cy</string>
		<string>fita-cy</string>
		<string>haabkhasian-cy</string>
		<string>esdescender-cy</string>
		<string>abreve-cy</string>
		<string>adieresis-cy</string>
		<string>aie-cy</string>
		<string>iebreve-cy</string>
		<string>odieresis-cy</string>
		<string>obarred-cy</string>
		<string>obarreddieresis-cy</string>
		<string>be-cy.loclSRB</string>
		<string>a-cy.ss01</string>
		<string>sigmafinal</string>
		<string>a-link</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>s.002</string>
		<string>dze-cy</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_tau</key>
	<array>
		<string>pi</string>
		<string>tau</string>
	</array>
	<key>@MMK_R_te-cy</key>
	<array>
		<string>te-cy</string>
		<string>tedescender-cy</string>
		<string>te-cy.loclBGR</string>
	</array>
	<key>@MMK_R_thorn</key>
	<array>
		<string>thorn</string>
	</array>
	<key>@MMK_R_tiret</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>logicalnot</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>upsilon</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>@MMK_R_w-greek</key>
	<array>
		<string>omega</string>
		<string>omegatonos</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
		<string>zhe-cy</string>
		<string>ha-cy</string>
		<string>zhedescender-cy</string>
		<string>hadescender-cy</string>
		<string>zhebreve-cy</string>
		<string>zhedieresis-cy</string>
		<string>hahook-cy</string>
	</array>
	<key>@MMK_R_y-greek</key>
	<array>
		<string>gamma</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
