<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_E-s2</key>
		<integer>-100</integer>
		<key>@MMK_R_P</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-130</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-130</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-120</integer>
		<key>@MMK_R_diag-cap-2</key>
		<integer>-250</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-100</integer>
		<key>@MMK_R_reverse</key>
		<integer>-30</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>@MMK_R_tau</key>
		<integer>-90</integer>
		<key>@MMK_R_tiret</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_w-greek</key>
		<integer>-10</integer>
		<key>@MMK_R_y-greek</key>
		<integer>-30</integer>
		<key>Che-cy</key>
		<integer>-70</integer>
		<key>Cheabkhasian-cy</key>
		<integer>-100</integer>
		<key>Ghestroke-cy</key>
		<integer>-40</integer>
		<key>Psi</key>
		<integer>-80</integer>
		<key>Reversedze-cy</key>
		<integer>-10</integer>
		<key>U-cy</key>
		<integer>-50</integer>
		<key>We-cy</key>
		<integer>-30</integer>
		<key>ampersand</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>quotesingle</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-70</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_P</key>
		<integer>0</integer>
		<key>@MMK_R_S.ss01</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_cy-up</key>
		<integer>-70</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-cap-alt</key>
		<integer>-80</integer>
		<key>El-cy</key>
		<integer>40</integer>
		<key>Ia-cy</key>
		<integer>-10</integer>
		<key>U-cy</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-20</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>0</integer>
		<key>@MMK_R_tiret</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_C.ss01</key>
	<dict>
		<key>@MMK_R_i.ss01</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_i.ss01</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-10</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>U-cy</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_De-cy</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_cy-up</key>
		<integer>-40</integer>
		<key>@MMK_R_mi-haute</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_A-E</key>
		<integer>-40</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-10</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-80</integer>
		<key>@MMK_R_period</key>
		<integer>0</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-30</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>@MMK_R_tiret</key>
		<integer>-50</integer>
		<key>Psi</key>
		<integer>-30</integer>
		<key>ampersand</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_I.ss01</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-70</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-40</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_tiret</key>
		<integer>-50</integer>
		<key>quotedblleft</key>
		<integer>-50</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_cy-up</key>
		<integer>-140</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-70</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-40</integer>
		<key>@MMK_R_tiret</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-60</integer>
		<key>Kastroke-cy</key>
		<integer>-50</integer>
		<key>Kaverticalstroke-cy</key>
		<integer>0</integer>
		<key>ampersand</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-180</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-110</integer>
		<key>@MMK_R_diag-cap-2</key>
		<integer>-200</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>AE</key>
		<integer>-130</integer>
		<key>ampersand</key>
		<integer>-20</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_Omega</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-80</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-10</integer>
		<key>AE</key>
		<integer>-130</integer>
		<key>U-cy</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_i.ss01</key>
		<integer>-30</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-10</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-10</integer>
		<key>@MMK_R_tiret</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
		<key>Ereversed-cy</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_S.ss01</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_Cheabakhasian</key>
		<integer>-200</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-90</integer>
		<key>@MMK_R_Omega</key>
		<integer>-70</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-20</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-70</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-80</integer>
		<key>@MMK_R_r</key>
		<integer>-10</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_tiret</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>AE</key>
		<integer>-180</integer>
		<key>Aie-cy</key>
		<integer>-200</integer>
		<key>De-cy</key>
		<integer>-80</integer>
		<key>El-cy</key>
		<integer>-140</integer>
		<key>Gamma</key>
		<integer>-20</integer>
		<key>Je-cy</key>
		<integer>-190</integer>
		<key>Lje-cy</key>
		<integer>-180</integer>
		<key>U-cy</key>
		<integer>0</integer>
		<key>ampersand</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>f</key>
		<integer>-70</integer>
		<key>guillemetleft</key>
		<integer>-80</integer>
		<key>guillemetright</key>
		<integer>-60</integer>
		<key>guilsinglleft</key>
		<integer>-70</integer>
		<key>lambda</key>
		<integer>-80</integer>
		<key>m</key>
		<integer>-30</integer>
		<key>n</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-140</integer>
		<key>rho</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_U-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-80</integer>
		<key>Lje-cy</key>
		<integer>-150</integer>
		<key>ampersand</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_Cheabakhasian</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>50</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-30</integer>
		<key>@MMK_R_reverse</key>
		<integer>-10</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-60</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-20</integer>
		<key>AE</key>
		<integer>-100</integer>
		<key>Kaverticalstroke-cy</key>
		<integer>-10</integer>
		<key>Psi</key>
		<integer>-30</integer>
		<key>Reversedze-cy</key>
		<integer>-30</integer>
		<key>ampersand</key>
		<integer>-50</integer>
		<key>mu</key>
		<integer>40</integer>
		<key>rho</key>
		<integer>50</integer>
		<key>theta</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_A-E</key>
		<integer>-180</integer>
		<key>@MMK_R_Omega</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-40</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-90</integer>
		<key>@MMK_R_period</key>
		<integer>-140</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-110</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_tiret</key>
		<integer>-100</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>Aie-cy</key>
		<integer>-190</integer>
		<key>Lje-cy</key>
		<integer>-140</integer>
		<key>ampersand</key>
		<integer>-60</integer>
		<key>f</key>
		<integer>-60</integer>
		<key>guillemetleft</key>
		<integer>-80</integer>
		<key>guillemetright</key>
		<integer>-60</integer>
		<key>guilsinglleft</key>
		<integer>-100</integer>
		<key>guilsinglright</key>
		<integer>-80</integer>
		<key>m</key>
		<integer>-50</integer>
		<key>n</key>
		<integer>-60</integer>
		<key>p</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_ronde-cap</key>
		<integer>-10</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-56</integer>
		<key>psi</key>
		<integer>-10</integer>
		<key>zeta</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_alpha</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>0</integer>
		<key>@MMK_R_w-greek</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_X</key>
		<integer>40</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>0</integer>
		<key>@MMK_R_tau</key>
		<integer>-40</integer>
		<key>@MMK_R_te-cy</key>
		<integer>10</integer>
		<key>f</key>
		<integer>0</integer>
		<key>ghestroke-cy</key>
		<integer>-10</integer>
		<key>lambda</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_caron-t</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-110</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-110</integer>
		<key>@MMK_R_x</key>
		<integer>-70</integer>
		<key>f</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_coma</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-130</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-70</integer>
		<key>@MMK_R_j</key>
		<integer>80</integer>
		<key>@MMK_R_t</key>
		<integer>-110</integer>
		<key>Che-cy</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_cy-term</key>
	<dict>
		<key>@MMK_R_che-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_cy-haut</key>
		<integer>-110</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>cheabkhasian-cy</key>
		<integer>-80</integer>
		<key>hardsign-cy</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>te-cy</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>0</integer>
		<key>f</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_diag-cap</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-80</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-40</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-80</integer>
		<key>@MMK_R_reverse</key>
		<integer>-70</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-20</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
		<key>AE</key>
		<integer>-180</integer>
		<key>Aie-cy</key>
		<integer>-150</integer>
		<key>De-cy</key>
		<integer>-80</integer>
		<key>ampersand</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-110</integer>
		<key>guillemetleft</key>
		<integer>-80</integer>
		<key>guillemetright</key>
		<integer>-50</integer>
		<key>guilsinglleft</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_diag-cap-2</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-200</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-140</integer>
		<key>A.ss03</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_diag-min</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_diag-min</key>
		<integer>0</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-100</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-80</integer>
		<key>@MMK_R_reverse</key>
		<integer>0</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_tau</key>
		<integer>-20</integer>
		<key>@MMK_R_tiret</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_w-greek</key>
		<integer>-10</integer>
		<key>@MMK_R_y-greek</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-140</integer>
		<key>de-cy</key>
		<integer>-80</integer>
		<key>hahook-cy</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_el-cy</key>
	<dict>
		<key>@MMK_R_cheabkhasian</key>
		<integer>-60</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-80</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-20</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-70</integer>
		<key>ghestroke-cy</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_coma</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-170</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-80</integer>
		<key>@MMK_R_period</key>
		<integer>-120</integer>
		<key>@MMK_R_r</key>
		<integer>2</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>f</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_german</key>
	<dict>
		<key>@MMK_R_y-greek</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_i</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>j.calt</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_cy-haut</key>
		<integer>10</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-40</integer>
		<key>@MMK_R_reverse</key>
		<integer>-30</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
		<key>@MMK_R_tau</key>
		<integer>-40</integer>
		<key>@MMK_R_tiret</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_k-grec</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_reverse</key>
		<integer>-30</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>0</integer>
		<key>@MMK_R_tau</key>
		<integer>-70</integer>
		<key>@MMK_R_w-greek</key>
		<integer>0</integer>
		<key>theta</key>
		<integer>-20</integer>
		<key>zeta</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_ka-cy</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>hardsign-cy</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-140</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_che-cy</key>
		<integer>-130</integer>
		<key>@MMK_R_cy-up</key>
		<integer>-130</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-120</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-100</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-80</integer>
		<key>Che-cy</key>
		<integer>-80</integer>
		<key>Chedescender-cy</key>
		<integer>-110</integer>
		<key>Ghestroke-cy</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>-110</integer>
		<key>ustraight-cy</key>
		<integer>-90</integer>
		<key>ustraightstroke-cy</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>30</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_tiret</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_r.ss01</key>
	<dict>
		<key>@MMK_R_coma</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-70</integer>
		<key>semicolon</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_reverse</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-30</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-20</integer>
		<key>@MMK_R_tau</key>
		<integer>0</integer>
		<key>@MMK_R_y-greek</key>
		<integer>0</integer>
		<key>rho</key>
		<integer>-10</integer>
		<key>zeta</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_ronde-cap</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_A-E</key>
		<integer>-80</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_Ze-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_cy-up</key>
		<integer>-70</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>Acut</key>
		<integer>-80</integer>
		<key>De-cy</key>
		<integer>-50</integer>
		<key>Ia-cy</key>
		<integer>0</integer>
		<key>Je-cy</key>
		<integer>-60</integer>
		<key>Lje-cy</key>
		<integer>-50</integer>
		<key>U-cy</key>
		<integer>-20</integer>
		<key>Xi</key>
		<integer>-40</integer>
		<key>Ze-cy</key>
		<integer>-40</integer>
		<key>lambda</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_ronde-cap-alt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-160</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_diag-cap-2</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_ronde-cap-bas</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_Ze-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_cy-up</key>
		<integer>-100</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_ronde-min</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_S.ss01</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-110</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_cy-haut</key>
		<integer>-100</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-70</integer>
		<key>@MMK_R_diag-cap-2</key>
		<integer>-140</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-30</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-40</integer>
		<key>@MMK_R_reverse</key>
		<integer>0</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_tau</key>
		<integer>-30</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_tiret</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_y-greek</key>
		<integer>-20</integer>
		<key>Ghestroke-cy</key>
		<integer>60</integer>
		<key>Ia-cy</key>
		<integer>-10</integer>
		<key>Xi</key>
		<integer>-20</integer>
		<key>ampersand</key>
		<integer>0</integer>
		<key>de-cy</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>0</integer>
		<key>f_f</key>
		<integer>-20</integer>
		<key>germandbls</key>
		<integer>10</integer>
		<key>hahook-cy</key>
		<integer>-70</integer>
		<key>hardsign-cy</key>
		<integer>0</integer>
		<key>ia-cy</key>
		<integer>-20</integer>
		<key>j.calt</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>-44</integer>
		<key>lslash</key>
		<integer>30</integer>
		<key>one</key>
		<integer>-40</integer>
		<key>two</key>
		<integer>-50</integer>
		<key>ustraight-cy</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_diag-min</key>
		<integer>0</integer>
		<key>@MMK_R_i</key>
		<integer>0</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>10</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>guillemetright</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_sigmafinal</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_soft-cy</key>
	<dict>
		<key>@MMK_R_che-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_cy-haut</key>
		<integer>-90</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>chedieresis-cy</key>
		<integer>-70</integer>
		<key>hardsign-cy</key>
		<integer>-60</integer>
		<key>ia-cy</key>
		<integer>-30</integer>
		<key>kabashkir-cy</key>
		<integer>-50</integer>
		<key>tedescender-cy</key>
		<integer>-140</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_coma</key>
		<integer>-60</integer>
		<key>@MMK_R_diag-min</key>
		<integer>0</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_tau</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-20</integer>
		<key>@MMK_R_reverse</key>
		<integer>-20</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-40</integer>
		<key>@MMK_R_tau</key>
		<integer>0</integer>
		<key>rho</key>
		<integer>-40</integer>
		<key>zeta</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_te-cy</key>
	<dict>
		<key>@MMK_R_cheabkhasian</key>
		<integer>-20</integer>
		<key>@MMK_R_cy-haut</key>
		<integer>-30</integer>
		<key>@MMK_R_diag-min</key>
		<integer>20</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-90</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>ampersand</key>
		<integer>-20</integer>
		<key>de-cy</key>
		<integer>-60</integer>
		<key>ghestroke-cy</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_tiret</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_X</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_cy-up</key>
		<integer>-90</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>Ze-cy</key>
		<integer>-40</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>product</key>
		<integer>-30</integer>
		<key>radical</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-90</integer>
		<key>summation</key>
		<integer>-50</integer>
		<key>three</key>
		<integer>-40</integer>
		<key>two</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-20</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_w-greek</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_reverse</key>
		<integer>-30</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-20</integer>
		<key>cheabkhasian-cy</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_y-greek</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-40</integer>
		<key>@MMK_R_reverse</key>
		<integer>-10</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-10</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>Y</key>
		<integer>0</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-40</integer>
	</dict>
	<key>De-cy</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_cy-up</key>
		<integer>-30</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-40</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-40</integer>
		<key>U-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Dje-cy</key>
	<dict>
		<key>@MMK_R_U-cy</key>
		<integer>-20</integer>
		<key>Yat-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Er-cy</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-60</integer>
		<key>f</key>
		<integer>-40</integer>
		<key>r.ss01</key>
		<integer>-90</integer>
		<key>s</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>-60</integer>
		<key>z</key>
		<integer>-40</integer>
	</dict>
	<key>Ghestroke-cy</key>
	<dict>
		<key>@MMK_R_De-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-40</integer>
		<key>Je-cy</key>
		<integer>-200</integer>
		<key>Lje-cy</key>
		<integer>-130</integer>
	</dict>
	<key>Ia-cy</key>
	<dict>
		<key>@MMK_R_cy-up</key>
		<integer>0</integer>
	</dict>
	<key>Iu-cy</key>
	<dict>
		<key>Ia-cy</key>
		<integer>0</integer>
	</dict>
	<key>Izhitsa-cy</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-50</integer>
		<key>De-cy</key>
		<integer>-30</integer>
		<key>Ghestroke-cy</key>
		<integer>-50</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
	</dict>
	<key>Je-cy</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-180</integer>
		<key>Y</key>
		<integer>-150</integer>
		<key>y</key>
		<integer>-70</integer>
	</dict>
	<key>Nje-cy</key>
	<dict>
		<key>@MMK_R_U-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Oslash</key>
	<dict>
		<key>comma</key>
		<integer>-59</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-59</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
	</dict>
	<key>Psi</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>0</integer>
	</dict>
	<key>Reversedze-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-20</integer>
	</dict>
	<key>Sigma</key>
	<dict>
		<key>@MMK_R_ronde-cap</key>
		<integer>-10</integer>
	</dict>
	<key>Tse-cy</key>
	<dict>
		<key>U-cy</key>
		<integer>-20</integer>
	</dict>
	<key>We-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-140</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-80</integer>
	</dict>
	<key>a-cy</key>
	<dict>
		<key>de-cy</key>
		<integer>0</integer>
	</dict>
	<key>alpha</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-140</integer>
		<key>@MMK_R_X</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-140</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-120</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-100</integer>
		<key>De-cy</key>
		<integer>-30</integer>
		<key>Ia-cy</key>
		<integer>-40</integer>
		<key>Xi</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-40</integer>
		<key>zeta</key>
		<integer>-50</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-70</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
	</dict>
	<key>dcroat</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-20</integer>
	</dict>
	<key>de-cy</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-50</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
	</dict>
	<key>eight.osf</key>
	<dict>
		<key>nine.osf</key>
		<integer>-30</integer>
	</dict>
	<key>eight.tf</key>
	<dict>
		<key>nine.tf</key>
		<integer>10</integer>
	</dict>
	<key>el-cy</key>
	<dict>
		<key>el-cy</key>
		<integer>-50</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-23</integer>
		<key>i</key>
		<integer>-28</integer>
	</dict>
	<key>f_f</key>
	<dict>
		<key>@MMK_R_i.ss01</key>
		<integer>-90</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
	</dict>
	<key>five.osf</key>
	<dict>
		<key>six.osf</key>
		<integer>-50</integer>
	</dict>
	<key>florin</key>
	<dict>
		<key>four</key>
		<integer>-80</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>five</key>
		<integer>-20</integer>
		<key>one</key>
		<integer>0</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-20</integer>
	</dict>
	<key>four.osf</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-30</integer>
		<key>five.osf</key>
		<integer>-60</integer>
	</dict>
	<key>four.ss03</key>
	<dict>
		<key>five.ss03</key>
		<integer>-30</integer>
	</dict>
	<key>ge-cy</key>
	<dict>
		<key>de-cy</key>
		<integer>-60</integer>
	</dict>
	<key>guillemetleft</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_cy-up</key>
		<integer>-90</integer>
		<key>@MMK_R_diag-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>0</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>-45</integer>
	</dict>
	<key>kahook-cy</key>
	<dict>
		<key>eltail-cy</key>
		<integer>-40</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>l</key>
		<integer>-20</integer>
	</dict>
	<key>lambda</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_ronde-cap</key>
		<integer>-50</integer>
		<key>theta</key>
		<integer>-30</integer>
	</dict>
	<key>lcaron</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-120</integer>
	</dict>
	<key>lslash</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>0</integer>
	</dict>
	<key>micro</key>
	<dict>
		<key>@MMK_R_tiret</key>
		<integer>-80</integer>
	</dict>
	<key>minus</key>
	<dict>
		<key>one</key>
		<integer>-50</integer>
		<key>three</key>
		<integer>-20</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>five</key>
		<integer>-80</integer>
		<key>four</key>
		<integer>-60</integer>
		<key>six</key>
		<integer>-60</integer>
	</dict>
	<key>nine.osf</key>
	<dict>
		<key>one.osf</key>
		<integer>-30</integer>
	</dict>
	<key>nine.ss03</key>
	<dict>
		<key>zero.ss03</key>
		<integer>-50</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>0</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>@MMK_R_ronde-min</key>
		<integer>-30</integer>
		<key>five</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-100</integer>
		<key>seven</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-30</integer>
	</dict>
	<key>one.osf</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-70</integer>
		<key>five.osf</key>
		<integer>-60</integer>
		<key>four.osf</key>
		<integer>-90</integer>
		<key>nine.osf</key>
		<integer>-70</integer>
		<key>seven.osf</key>
		<integer>-30</integer>
		<key>two.osf</key>
		<integer>-40</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>@MMK_R_ronde-cap</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-40</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-140</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-200</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-110</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_J</key>
		<integer>-210</integer>
		<key>@MMK_R_i.ss01</key>
		<integer>-110</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-60</integer>
	</dict>
	<key>radical</key>
	<dict>
		<key>@MMK_R_tiret</key>
		<integer>-40</integer>
	</dict>
	<key>reversedze-cy</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-30</integer>
	</dict>
	<key>ruble</key>
	<dict>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>t</key>
		<integer>-30</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_coma</key>
		<integer>-120</integer>
		<key>@MMK_R_period</key>
		<integer>-150</integer>
		<key>colon</key>
		<integer>-110</integer>
		<key>five</key>
		<integer>-70</integer>
		<key>four</key>
		<integer>-100</integer>
		<key>minus</key>
		<integer>-90</integer>
		<key>semicolon</key>
		<integer>-110</integer>
		<key>six</key>
		<integer>-80</integer>
	</dict>
	<key>seven.tf</key>
	<dict>
		<key>eight.tf</key>
		<integer>-30</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>nine</key>
		<integer>-10</integer>
	</dict>
	<key>six.osf</key>
	<dict>
		<key>seven.osf</key>
		<integer>-40</integer>
	</dict>
	<key>six.ss02</key>
	<dict>
		<key>seven.ss02</key>
		<integer>-70</integer>
	</dict>
	<key>six.ss03</key>
	<dict>
		<key>seven.ss03</key>
		<integer>-70</integer>
	</dict>
	<key>softsign-cy</key>
	<dict>
		<key>@MMK_R_cy-haut</key>
		<integer>-10</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
	</dict>
	<key>summation</key>
	<dict>
		<key>@MMK_R_tiret</key>
		<integer>-50</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-17</integer>
		<key>i</key>
		<integer>-12</integer>
		<key>j.calt</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-2</integer>
	</dict>
	<key>te-cy</key>
	<dict>
		<key>comma</key>
		<integer>-140</integer>
	</dict>
	<key>theta</key>
	<dict>
		<key>@MMK_R_y-greek</key>
		<integer>-10</integer>
		<key>lambda</key>
		<integer>-30</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
		<key>ruble</key>
		<integer>0</integer>
		<key>two</key>
		<integer>-40</integer>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
	<key>three.osf</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-20</integer>
		<key>four.osf</key>
		<integer>-70</integer>
		<key>zero.osf</key>
		<integer>-40</integer>
	</dict>
	<key>tse-cy</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>0</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>@MMK_R_tiret</key>
		<integer>-30</integer>
		<key>five</key>
		<integer>-30</integer>
		<key>four</key>
		<integer>-70</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-67</integer>
		<key>zero</key>
		<integer>-12</integer>
	</dict>
	<key>two.osf</key>
	<dict>
		<key>@MMK_R_diag-min</key>
		<integer>-20</integer>
		<key>three.osf</key>
		<integer>-40</integer>
		<key>zero.osf</key>
		<integer>-50</integer>
	</dict>
	<key>ustraight-cy</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
	</dict>
	<key>ustraightstroke-cy</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-26</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-46</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>a</key>
		<integer>-34</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>J</key>
		<integer>-80</integer>
		<key>a</key>
		<integer>-34</integer>
	</dict>
	<key>yi-cy</key>
	<dict>
		<key>@MMK_R_el-cy</key>
		<integer>10</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<integer>-29</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>one</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-40</integer>
		<key>two</key>
		<integer>-40</integer>
	</dict>
	<key>zero.osf</key>
	<dict>
		<key>one.osf</key>
		<integer>-30</integer>
		<key>three.osf</key>
		<integer>-50</integer>
	</dict>
	<key>zeta</key>
	<dict>
		<key>@MMK_R_X</key>
		<integer>40</integer>
		<key>@MMK_R_diag-min</key>
		<integer>-30</integer>
		<key>@MMK_R_ronde-min</key>
		<integer>-10</integer>
		<key>lambda</key>
		<integer>-10</integer>
		<key>tau</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
